footer {
  padding-top: 45px;
  .footer-social {
    text-align: center;
  }
  .social-icons {
    @include verticalAlignMiddle();
    height: 45px;
    display: inline-block;
    margin: auto;
    width: auto;
    border-top: 2px solid #604628;
    border-bottom: 2px solid #604628;
    text-align: center;
    padding: 0 15px;
    a {
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
      &.icon-social-fb {
        margin-left: 0;
        margin-right: 10px;
      }
      &.icon-social-pint {
        margin-right: 0;
      }
    }
  }
  .pre-footer {
    background: $lightBrown;
    margin-top: 75px;
    @include breakpoint(sm) {
      display: none;
    }
    ul {
      margin: 0 auto;
      padding: 0;
      text-align: center;
      overflow: visible;
      li {
        display: inline-block;
        list-style: none;
        color: $vLightCream;
        position: relative;
        font-size: 0;
        cursor: pointer;
        &:hover {
          i {
            display: block;
            margin-top: -5px;
          }
        }
        i {
          position: absolute;
          top: -44px;
          left: 38%;
          margin-top: 0;
          @include transition(margin-top 0.25s ease);
          &.icon-pf-cow {
            top: -33px;
          }
          &.icon-pf-livr {
            top: -37px;
          }
          &.icon-pf-avis {
            top: -34px;
          }
          &.icon-pf-paypal {
            top: -32px;
          }
        }
        p {
          color: #fff;
          font-weight: 500;
          font-size: 14px;
          span {
            font-weight: 400;
          }
        }
      }
    }
  }
  .footer-bottom {
    background: $footerBrown;
    .widget_wysija {
      position: relative;
      @extend .grid;
      width: 100%;
      margin: 0;
      overflow: visible;
      .wysija-paragraph {
        margin: 0;
        padding: 0;
      }
      label {
        @extend .col-1-2;
        float: left;
        padding: 0 35px;
        color: #fff;
        font-weight: 500;
        @include breakpoint(md) {
          font-size: px2em(11px);
          padding: 0 15px;
        }
        @include breakpoint(sm) {
          display: none;
        }
      }
      .wysija-input {
        width: 50%;
        line-height: 32px;
        font-size: 20px;
        padding-left: 12px;
        float: left;
        padding-right: 80px;
        border: 1px solid $greyGreen;
        @include breakpoint(sm) {
          width: 100%;
        }
      }
      .wysija-submit {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $btnGreen;
        border: 1px solid $greyGreen;
        color: #fff;
        line-height: 32px;
        font-size: px2rem(12px);
      }
      .formError {
        display: none;
      }
    }
    nav {
      li {
        margin-bottom: 5px;
      }
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $lightBrown;
        font-size: px2em(12px);
        font-weight: 500;
        @include breakpoint(md) {
          font-size: px2em(9px);
        }
      }
    }
    p {
      color: #312416;
      font-size: px2em(11px);
      text-align: center;
      @include breakpoint(md) {
        font-size: px2em(9px);
      }
    }
    .last-posts {
      @include breakpoint(sm) {
        display: none;
      }
      a {
        text-decoration: none;
      }
      img.wp-post-image {
        display: inline-block;
        height: 50px;
        width: auto;
      }
      ul {
        margin: 0;
        padding: 0;
      }
      li {
        list-style: none;
        border-bottom: 1px solid $lightCream;
        float: left;
        width: 100%;
        max-height: 79px;
      }
      h3 {
        text-transform: uppercase;
        color: $lightBrown;
        font-size: px2rem(14px);
        font-weight: 500;
        margin-bottom: 10px;
        @include breakpoint(md) {
          font-size: px2em(11px);
        }
      }
      h4 {
        text-transform: uppercase;
        color: $lightBrown;
        font-size: px2em(9px);
        font-weight: 500;
        margin: 5px 0;
        @include breakpoint(md) {
          font-size: px2em(7px);
        }
      }
      p {
        display: inline-block;
        margin: 0;
        text-align: left;
        color: $lightCream;
        font-size: px2em(8px);
        @include breakpoint(md) {
          font-size: px2em(6px);
        }
      }
    }
  }
  .widget_wysija_cont .wysija-submit {
    margin-top: 10px;
  }
}