header.site-header {
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
  @include transition(height 0.25s ease);
  .top-site-header #menu-top li {
    @include transition(all 0.25s ease);
    margin: 0 2px;
    @include scale(1,1);
  }
  .main-site-header {
    padding: 0;
    @include transition(margin-top 0.25s ease);
    .site-logo img {
      height: 61px;
      width: auto;
      @include transition(height 0.25s ease);
      @include breakpoint(md) {
        width: 100%;
        height: auto;
      }
      @include breakpoint(sm) {
        max-width: 185px;
        display: block;
        margin: 15px auto;
      }
    }
  }

  a {
    text-decoration: none;
    color: $brown;
    @include transition(color 0.25s ease);
    &:hover {
      color: $cream;
    }
  }
  .site-logo {
    display: block;
    margin-bottom: 5px;
  }
  #menu-top {
    padding: 5px 0;
    margin: 0;
    li {
      margin: 0 5px;
      &.my-account {
        margin: 0 25px;
        position: relative;
        top: 5px;
      }
      &.my-cart {
        padding-left: 15px;
        margin-left: 10px;
        border-left: 2px solid $brown;
        a {
          position: relative;
          top: 2px;
        }
        .header-amount {
          font-size: px2rem(14px);
          font-weight: 600;
          color: $brown;
          padding-left: 5px;
        }
      }
    }
  }
  .my-account {
    a {
      @include hide-text();
      @extend .icon-account;
    }
  }
  .my-cart {
    a {
      @include hide-text();
      @extend .icon-cart;
    }
  }
  li {
    display: inline-block;
  }
  .lang-item {
    display: none;
    list-style: none;
    &.current-lang {
      a {
        color: $cream;
      }
    }
  }
  a {
    text-transform: uppercase;
    color: $brown;
    font-size: px2rem(14px);
    font-weight: 600;
    @include transition(color 0.25s ease);
    &:hover {
      color: $cream;
    }
  }
  .main-site-header {

    .site-title {
      @include breakpoint(sm) {
        width: 75%;
        float: left;
        &:before,&:after {
          display: none !important;
        }
      }

      @include verticalAlignMiddle();
      img,
      i,
      h4 {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        @include breakpoint(sm) {
          display: block;
          margin: 15px auto;
        }
      }
      h2 {
        font-size: px2em(9px);
        color: $brown;
        margin-top: 2px;
        padding-left: 65px;
        display: inline-block;
        position: relative;
        top: -5px;
        @include breakpoint(md) {
          padding-left: 26%;
          font-size: px2em(7px);
        }
        @include breakpoint(sm) {
          display: none;
        }
      }
    }
    .site-menu {
      @include breakpoint(sm) {
        padding: 0;
        width: 25%;
        float: left;
        margin-top: 35px;
      }
      nav {
        margin-top: 65px;
        @include breakpoint(sm) {
          margin-top: 0;
        }
        .nav-menu {
          ul {
            margin: 0;
          }
          li {
            display: inline-block;
            margin-right: 15px;
            &.current_page_item {
              a {
                color: $green;
              }
            }
          }
          a {
            text-transform: uppercase;
            color: $brown;
            font-size: px2rem(14px);
            font-weight: 600;
            @include transition(color 0.25s ease);
            @include breakpoint(md) {
              font-size: px2em(11px);
            }
            &:hover {
              color: $green;
            }
          }
        }
      }
    }
    .site-menu-top {
      @include breakpoint(sm) {
        display: none;
      }
    }
    #menu-header {
      padding: 0 0 0 15px;
      @include breakpoint(sm) {
        display: none;
      }
    }
  }
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    background: url("../images/header-bg.jpg") no-repeat;
    background-size: 100%;
    .site-title {
      .site-logo {
        text-align: center;
        img {
          height: 37px;
          @include breakpoint(md) {
            width: auto;
          }
          @include breakpoint(sm) {
            height: 30px;
          }
        }
      }
      h2 {
        display: none;
      }
    }
    .site-menu {
      @include breakpoint(sm) {
        margin-top: 28px;
      }
    }
    .site-menu nav {
      margin-top: 30px;
      @include breakpoint(sm) {
        margin-top: 0px;
      }
    }
    #menu-header a {
      font-size: px2em(11px);
    }
    .my-account a,
    .my-cart a{
      transform: scale(0.7);
    }

  }
  #menu-top {
    text-align: right;
    padding: 15px 0;
    li.my-account {
      margin: 0 0px;
    }
  }
  .slicknav_menu {
    .slicknav_nav {
      @include breakpoint(sm) {
        top: 80px;
      }
    }
  }
}

.slicknav_menu {
  display:none;
  @include breakpoint(sm) {
    display: block;
  }
  .slicknav_icon-bar {
    height: 4px;
    background: $brown;
    width: 30px;
    display: block;
    margin-bottom: 5px;
  }
  .slicknav_no-text {
    max-width: 30px;
    display: block;
    line-height: 7px;
    margin: auto;
  }
  .slicknav_nav {
    background: $brown;
    padding: 25px;
    margin: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 105px;
    width: 100%;
    a {
      font-size: px2em(9px);
      color: $bgColor;
    }
    li {
      margin-bottom: 15px;
      display: block;
      &.current_page_item {
        a {
          color: $lightCream;
        }
      }
    }
  }
}
.site-navigation-mobile {
  display: none;
  @include breakpoint(sm) {
    display: block;
  }
}