* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $bgColor;
  background: url("../images/header-bg.jpg") no-repeat;
  background-color: $bgColor;
  background-size: 100% 702px;
  font-family: $Roboto;
  &.blog,
  &.single-post{
    background-size: 100% 702px;
    background-color: $bgColor;
  }
  &.page-template-page-default{
    background-size: 100% 702px;
    background-color: $bgColor;

  }
  h1,h2,h3,h4 {
    color: $brown;
    font-size: px2em(18px);
    @include breakpoint(ml) {
      font-size: px2em(16px);
    }
    @include breakpoint(sm) {
      font-size: px2em(14px);
    }
  }
  h2 {
    font-size: px2em(16px);
    @include breakpoint(ml) {
      font-size: px2em(14px);
    }
    @include breakpoint(sm) {
      font-size: px2em(12px);
    }
  }
  h3 {
     font-size: px2em(14px);
    @include breakpoint(ml) {
      font-size: px2em(12px);
    }
    @include breakpoint(sm) {
      font-size: px2em(10px);
    }
  }
  h4 {
    font-size: px2em(12px);
    @include breakpoint(ml) {
      font-size: px2em(11px);
    }
    @include breakpoint(sm) {
      font-size: px2em(9px);
    }
  }
  form .form-row input.input-text,form .form-row select {
    height: 36px;
    line-height: 100%;
  }
  fieldset {
    margin: 25px auto;
    legend {
      text-transform: uppercase;
      padding: 5px;
      font-weight: 500;
      color: $brown;
      font-size: px2em(14px);
    }
  }
  .woocommerce input.button,
  .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
    background-color: $brown;
    color: $bgColor;
    @include transition(background-color 0.25s ease);
    &:hover {
      background-color: $green;
      color: $bgColor;
    }
  }
  a {
    text-decoration: none;
    @include transition(color 0.25s ease);
    font-weight: 600;
    color: $brown;
    &:hover {
      color: $green;
    }
  }
  &.woocommerce-cart table.cart td.actions .coupon {
    #coupon_code {
      width: 168px;
      height: 36px;
    }
  }
  #respond input#submit {
    background-color: $brown;
    color: $bgColor;
    @include transition(background-color 0.25s ease);
    &:hover {
      background-color: $green;
    }
  }
  .wc-proceed-to-checkout a.checkout-button,
  .woocommerce button.button.alt{
    background-color: $brown;
    color: $bgColor;
    @include transition(background-color 0.25s ease);
    &:hover {
      background-color: $green;
    }
  }
  .woocommerce .woocommerce-info {
    border-top-color: $brown;
    background-color: $bgColor;
    &:before {
      color: $brown;
    }
  }
  textarea {
    min-height: 185px;
  }
  #order_review {
    .shop_table {
      tr {
        border: 4px solid #b89c8a;
      }
      td,th {
        color: $brown;
      }
    }
  }
}
#add_payment_method #payment, .woocommerce-checkout #payment {
  background: $bgColor;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  background-color: $brown;
  @include transition(background-color 0.25s ease);
  color: $bgColor;
  &:hover {
    background-color: $green;
  }

}
.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
  border-color: $brown;
  padding-left: 15px;
}
@include breakpoint(sm) {
  table {
    display: none !important;
    &.variations,
    &.shop_table{
      display: table !important;
    }
  }
}

table {
  width: 100%;
  border: 2px solid #b89c8a;
  tbody {
    & > tr:first-child {
      td {
        background: $brown;
        color: $bgColor;
        font-weight: 600;
        padding: 0px 5px;
      }
    }
    td {
      border: 2px solid #b89c8a;
      text-align: center;
      padding: 5px 0;
      color: $brown;
      &:first-child {
        text-align: left;
        padding-left: 15px;
      }
    }
  }
  &.variations,
  &.shop_table {
    width: auto;
    border: none;
    tbody {
      & > tr:first-child {
        td {
          background: none;
          color: inherit;
          font-weight: 300;
        }
      }
      td {
        border: none;
        text-align: center;
        padding: 5px 0;
        color: $brown;
        &:first-child {
          text-align: left;
          padding-left: 15px;
        }
      }
    }
  }
}

.woocommerce #content table.cart td.actions .button, .woocommerce #content table.cart td.actions .input-text, .woocommerce #content table.cart td.actions input, .woocommerce table.cart td.actions .button, .woocommerce table.cart td.actions .input-text, .woocommerce table.cart td.actions input, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions input, .woocommerce-page table.cart td.actions .button, .woocommerce-page table.cart td.actions .input-text, .woocommerce-page table.cart td.actions input {
  @include breakpoint(sm) {
    width: 100%;
  }
}
iframe {
  min-height: 580px;
}