.icon{
	display:inline-block;
	background-image:url('../images/sprite.png');
	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		background-size: 560px 555px;
	}
}

.icon-account-2x{
	@extend .icon;
	width: 54px;
	height: 63px;
	background-position: -492px -282px
}
.icon-account{
	@extend .icon;
	width: 23px;
	height: 27px;
	background-position: -536px -353px
}
.icon-arrow-left{
	@extend .icon;
	width: 60px;
	height: 60px;
	background-position: -492px -138px
}
.icon-arrow-right{
	@extend .icon;
	width: 60px;
	height: 60px;
	background-position: -492px -210px
}
.icon-cart-2x{
	@extend .icon;
	width: 58px;
	height: 48px;
	background-position: -420px -353px
}
.icon-cart{
	@extend .icon;
	width: 29px;
	height: 24px;
	background-position: -531px -456px
}
.icon-pf-ab{
	@extend .icon;
	width: 46px;
	height: 44px;
	background-position: 0px -489px
}
.icon-pf-avis{
	@extend .icon;
	width: 35px;
	height: 35px;
	background-position: -46px -489px
}
.icon-pf-cow{
	@extend .icon;
	width: 58px;
	height: 37px;
	background-position: -478px -353px
}
.icon-pf-livr{
	@extend .icon;
	width: 55px;
	height: 38px;
	background-position: -500px -418px
}
.icon-pf-paypal{
	@extend .icon;
	width: 31px;
	height: 30px;
	background-position: -500px -456px
}
.icon-skill-ab-2x{
	@extend .icon;
	width: 140px;
	height: 140px;
	background-position: 0px 0px
}
.icon-skill-ab-hover-2x{
	@extend .icon;
	width: 140px;
	height: 140px;
	background-position: -140px 0px
}
.icon-skill-ab-hover{
	@extend .icon;
	width: 71px;
	height: 71px;
	background-position: -287px -418px
}
.icon-skill-ab{
	@extend .icon;
	width: 71px;
	height: 71px;
	background-position: -216px -418px
}
.icon-skill-clean-2x{
	@extend .icon;
	width: 140px;
	height: 138px;
	background-position: -280px -280px
}
.icon-skill-clean-hover-2x{
	@extend .icon;
	width: 140px;
	height: 138px;
	background-position: -420px 0px
}
.icon-skill-clean-hover{
	@extend .icon;
	width: 71px;
	height: 70px;
	background-position: -358px -418px
}
.icon-skill-clean{
	@extend .icon;
	width: 71px;
	height: 70px;
	background-position: -429px -418px
}
.icon-skill-cow-2x{
	@extend .icon;
	width: 140px;
	height: 138px;
	background-position: 0px -280px
}
.icon-skill-cow-hover-2x{
	@extend .icon;
	width: 140px;
	height: 138px;
	background-position: -280px -138px
}
.icon-skill-cow-hover{
	@extend .icon;
	width: 72px;
	height: 71px;
	background-position: -72px -418px
}
.icon-skill-cow{
	@extend .icon;
	width: 72px;
	height: 71px;
	background-position: 0px -418px
}
.icon-skill-prot-2x{
	@extend .icon;
	width: 140px;
	height: 138px;
	background-position: -140px -280px
}
.icon-skill-prot-hover-2x{
	@extend .icon;
	width: 140px;
	height: 138px;
	background-position: -280px 0px
}
.icon-skill-prot-hover{
	@extend .icon;
	width: 72px;
	height: 71px;
	background-position: -420px -282px
}
.icon-skill-prot{
	@extend .icon;
	width: 72px;
	height: 71px;
	background-position: -144px -418px
}
.icon-skill-vege-2x{
	@extend .icon;
	width: 140px;
	height: 140px;
	background-position: 0px -140px
}
.icon-skill-vege-hover-2x{
	@extend .icon;
	width: 140px;
	height: 140px;
	background-position: -140px -140px
}
.icon-skill-vege-hover{
	@extend .icon;
	width: 72px;
	height: 72px;
	background-position: -420px -138px
}
.icon-skill-vege{
	@extend .icon;
	width: 72px;
	height: 72px;
	background-position: -420px -210px
}
.icon-social-fb{
	@extend .icon;
	width: 9px;
	height: 18px;
	background-position: -546px -282px
}
.icon-social-gogle{
	@extend .icon;
	width: 21px;
	height: 20px;
	background-position: -81px -489px
}
.icon-social-insta{
	@extend .icon;
	width: 19px;
	height: 20px;
	background-position: -102px -489px
}
.icon-social-pint{
	@extend .icon;
	width: 18px;
	height: 22px;
	background-position: 0px -533px
}
.icon-social-twt{
	@extend .icon;
	width: 21px;
	height: 17px;
	background-position: -420px -401px
}
