@mixin breakpoint($class) {

    @if $class == sm {
        @media (max-width: 788px) { @content; }
    }

    @else if $class == md {
        @media (max-width: 1024px) { @content; }
    }

    @else if $class == ml {
        @media (max-width: 1280px) { @content; }
    }
    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }

}