#blog {
  .category-recette {
    text-align: right;
    padding-right: 10%;
    border-right: 1px solid $brown;
    @include breakpoint(sm) {
      width: 50%;
      float: left;
    }
  }
  .category-actu {
    text-align: left;
    padding-left: 10%;
    @include breakpoint(sm) {
      width: 50%;
      float: left;
    }
  }
  .category-title {
    padding-right: 10px;
    a {
      text-transform: uppercase;
      font-size: px2rem(14px);
      font-weight: 500;
      color: $brown;
      text-decoration: none;
      cursor: pointer;
      padding-right: 5px;
      @include transition(color 0.25ms ease);
      &.active {
        color: $green;
      }
      &:hover {
        color: $green;
      }
    }
  }
  .category-sub-list {
    visibility: hidden;
    margin-top: -50px;
    text-align: center;
    @include transition(margin-top 0.25s ease);
    &.visible {
      visibility: visible;
      margin-top: 0px;
    }
    a {
      display: inline-block;
      margin: 10px;
      min-width: 85px;
      padding: 5px 10px;
      background: $green;
      color: $bgColor;
      text-transform: uppercase;
      font-size: px2em(11px);
      cursor: pointer;
      border: 1px solid $green;
      @include transition(background 0.25s ease);
      &:hover {
        background: none;
        color: $green;
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  figure {
    position: relative;
    margin: auto;
    height: 437px;
    max-width: 650px;
    margin-bottom: 45px;
    @include breakpoint(sm) {
      height: auto;
    }
    figcaption {
      position: absolute;
      top: 0;
      left: 0;
    }
    img {
      max-width: 100%;
      height: 100%;
      display: block;
    }
    a,h2,p {
      text-align: center;
    }
    h2 {
      color: $lightCream;
      font-size: px2em(14px);
    }
  }
  .post-container {
    position: relative;
    min-height: 500px;
    .col-1-1 {
      background: $bgCream;
      margin-bottom: 25px;
      &.effect-bubba {
        h2 {
          padding-top: 25%;
        }
      }
    }
    .col-1-2 {
      padding-right: 0;
      figure {
        height: auto;
        max-width: 90%;
        &.effect-bubba {
          h2 {
            padding: 12% 5% 0 5%;
            font-size: px2em(12px);
          }
        }
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }
}

.single-post {
  .article-header {
    padding: 0;
    text-align: center;
    height: 437px;
    background: $bgCream;
    img {
      max-width: 100%;
      height: 100%;
      display: block;
      margin: auto;
      width: auto;
      @include breakpoint(sm) {
        height: auto;
      }
    }
  }
  .category-recette {
    text-align: center;
    margin: 25px 0;
    @include breakpoint(sm) {
      width: 50%;
      float: left;
    }
    a {
      color: $bgColor;
      font-weight: 500;
    }
  }
  .category-actu {
    text-align: left;
    padding-left: 10%;
    @include breakpoint(sm) {
      width: 50%;
      float: left;
    }
  }
  .category-title {
    a {
      text-transform: uppercase;
      font-size: px2rem(14px);
      font-weight: 500;
      color: $brown;
      text-decoration: none;
      cursor: pointer;
      @include transition(color 0.25ms ease);
      &.active {
        color: $green;
      }
      &:hover {
        color: $green;
      }
    }
  }
  .article-content {
    h1 {
      text-transform: uppercase;
      font-size: px2em(22px);
      text-align: center;
      color: $brown;
    }
    p {
      color: $brown;
      text-align: justify;
    }
  }
}

#loader {
  position: absolute;
  left: 50%; top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  z-index: 999;
  overflow: visible;
  background: url('../../assets/images/ajax-loader.gif') no-repeat center center;
}