.page-template-page-default {
  .page-title {
    background: rgba(228,207,169, 0.75);
    h1 {
      text-transform: uppercase;
      font-size: px2em(18px);
      text-align: center;
      color: #fff;
    }
  }
  .page-content {
    background: $lightCream;
    padding: 35px 40px 75px 35px;
    p {
      display: block;
      color: $brown;
      margin: 5px 0;
    }
    div.wpcf7 {
      margin: auto;
      max-width: 550px;
      input,textarea {
        width: 100%;
        line-height: 34px;
        background: $bgColor;
        border: 1px solid $brown;
        font-size: px2em(14px);
        padding-left: 15px;
        margin-top: 15px;
      }
      textarea {
        line-height: 16px;
        min-height: 280px;
        padding-top: 15px;
      }
      input.wpcf7-submit {
        max-width: 185px;
        float: right;
        background: $green;
        color: #fff;
        font-weight: 600;
        border: none;
      }
      div.wpcf7-validation-errors {
        border: none;
        margin-top: 75px;
        color: red;
        font-weight: 600;
        font-size: px2em(11px);
      }
    }
  }
}