#homepage {
  #skill-slider {
    padding: 50px 0 75px 0;
    @include breakpoint(sm) {
      padding: 25px 0 0 0;
    }
    i {
      @include transition(background-image 0.25s ease);
    }
    .skill-slides {
      overflow: visible;
      position: relative;
      padding: 0;

      li {
        list-style: none;
        .content {
          display: block;
          @include verticalAlignMiddle();
          @include transition(background 0.25s ease);
          background: $lightCream;
          padding: 20px 5px;
          min-height: 115px;
          cursor: pointer;
          @include breakpoint(md) {
            min-height: 188px;
            text-align: center;
            a {
              display: block;
            }
          }

          p {
            position: absolute;
            width: 100%;
            bottom: -95px;
            left: 0;
            color: $green;
            font-weight: 600;
            text-align: center;
            &.hidden {
              height: 60px;
              display: block;
            }
          }
          &:hover {
            background: $green;
            h3 {
              color: $lightCream;
            }
            i {
              &.icon-skill-ab {
                @extend .icon-skill-ab-hover;
              }
              &.icon-skill-clean {
                @extend .icon-skill-clean-hover;
              }
              &.icon-skill-cow {
                @extend .icon-skill-cow-hover;
              }
              &.icon-skill-prot {
                @extend .icon-skill-prot-hover;
              }
              &.icon-skill-vege {
                @extend .icon-skill-vege-hover;
              }
            }
            p.hidden {
              visibility: visible;
              display: block;
              @include breakpoint(sm) {
                display: none;
              }
            }
          }
        }
        h3,i {
          display: inline-block;
          font-size: px2rem(11px);
          font-weight: 600;
          @include transition(color 0.25s ease);
          color: $brown;
          vertical-align: middle;
          max-width: 104px;
          text-align: center;
        }
        h3 {
          @include breakpoint(md) {
            display: block;
            margin: 10px auto;
          }
        }
      }

    }
  }
}