.page-template-page-produit,.single-product {
  .main-site-header {
    h2 {
      text-transform: inherit;
      font-size: px2em(16px);
    }
  }

  .woocommerce-product-rating {
    display: none;
  }
  .images {
    #product-slider {
      img {
        max-height: 365px;
        display: block;
        margin: auto;
      }
    }
    #product-carousel {
      ul {
        margin: 0;
        padding: 0;
        display: block;
        text-align: center;
      }
      li {
        max-width: 100px;
      }
      img {
        max-height: 65px;
        display: inline-block;
        margin: auto;
      }
      .flex-direction-nav {
        display: none !important;
      }
    }

  }
  .summary {
    &.product-variable {
      > div {
        display: none;
      }
    }
    &.product-simple {
      .cart {
        @extend .col-2-3;
        float: left;
        margin: 0;
        min-height: 150px;
        padding: 40px 0;
        line-height: 65px;
        @include breakpoint(sm) {
          min-height: inherit;
          padding: 0;
          line-height: inherit;
        }
      }
      p.price {
        margin: 0;
        padding: 0;
      }
      .amount {
        background: $green;
        color: $bgColor;
        font-size: px2em(12px);
        font-weight: 600;
        padding: 15px;
        width: 100%;
        max-width: 160px;
        line-height: 35px;
        display: block;
        text-align: center;
        @extend .col-1-2;
        float: right;
        @include border-radius(5px 5px);
        @include transition(background 0.25s ease);
        @include breakpoint(sm) {
          float: none;
          width: 100%;
          margin: 25px 0;
        }
      }
      > div {
        @extend .col-1-3;
        float: right;
        min-height: 150px;
        padding: 40px 0;
        @include breakpoint(sm) {
          float: none;
          width: 100%;
          min-height: inherit;
          padding: 0;
        }
      }
      .quantity {
        display: inline-block;
      }
      input.input-text {
        min-width: 10px;
      }
      .quantity {
        display: block;
        float: left;
        @include breakpoint(sm) {
          float: none;
          width: 100%;
          margin-bottom: 25px;
        }
      }
      button {
        width: 100%;
        display: block;
        max-width: 198px;
        float: right;
        margin-right: 25px;
        line-height: 45px;
        font-size: px2em(12px);
        background: $green;
        text-transform: uppercase;
        font-family: $Roboto;
        color: $bgColor;
        @include border-radius(5px 5px);
        @include transition(background 0.25s ease);
        @include breakpoint(sm) {
          float: none;
          width: 100%;
          margin-bottom: 25px;
        }
        &:hover {
          background: $brown;
        }
      }
    }
    h1 {
      text-transform: uppercase;
      color: $brown;
      font-size: px2em(16px);
    }
    p {
      color: $brown;
      font-weight: 500;
    }
    .variations{
      label {
        display: none;
      }
    }
    #gout {
      > option:first-child {
        display: none;
      }
    }
    .reset_variations {
      display: none;
    }
  }
  .woocommerce-tabs {
    float: left;
    width:100%;
  }
  input,select {
    height: 32px;
    line-height: 28px;
    display: inline-block;
    font-size: px2em(12px);
    color: $brown;
    min-width: 185px;
  }


  form {
    margin: 45px 0;
    .label {
      display: none;
    }
  }
  .single_variation_wrap {
    padding-top: 10px;
    overflow: visible;
    .woocommerce-variation {
      @extend .col-3-12;
      float: right;
      text-align: right;
      @include breakpoint(sm) {
        float: none;
        width: 100%;
      }
      .price {
        background: $green;
        color: $bgColor;
        font-size: px2em(12px);
        font-weight: 600;
        padding: 15px;
        width: 100%;
        max-width: 160px;
        line-height: 38px;
        display: block;
        text-align: center;
        @extend .col-1-2;
        float: left;
        @include border-radius(5px 5px);
        @include transition(background 0.25s ease);
        margin-top: -40px;
        @include breakpoint(sm) {
          float: none;
          width: 100%;
          margin: 25px 0;
        }
      }
    }
    .woocommerce-variation-add-to-cart {
      @extend .col-9-12;
      float: left;
      @include breakpoint(sm) {
        float: none;
        width: 100%;
      }
      input.input-text {
        min-width: 10px;
      }
      .quantity {
        display: block;
        float: left;
        @include breakpoint(sm) {
          float: none;
          width: 100%;
          margin-bottom: 50px;
        }
      }
      .single_add_to_cart_button {
        width: 100%;
        display: block;
        max-width: 198px;
        float: right;
        margin-right: 25px;
        line-height: 45px;
        font-size: px2em(12px);
        background: $green;
        text-transform: uppercase;
        font-family: $Roboto;
        color: $bgColor;
        @include border-radius(5px 5px);
        @include transition(background 0.25s ease);
        margin-top: -40px;
        @include breakpoint(sm) {
          float: none;
          width: 100%;
        }
        &:hover {
          background: $brown;
        }
      }
    }
  }
  .wc-tabs-wrapper {
    ul.wc-tabs {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        float: left;
        @extend .col-1-3;
        line-height: 18px;
        font-size: px2em(12px);
        font-weight: 500;
        text-align: center;
        background: $brown;
        padding: 10px 0;
        @include transition(all 0.25s ease);
        @include breakpoint(sm) {
          float: none;
          width: 100%;
        }
        &.active {
          background: $lightCream;
          a {
            color: $brown;
          }
        }
      }
      a {
        color: $bgColor;
        text-decoration: none;
        display: block;
        cursor: pointer;
        font-weight: 600;
      }
    }
    .entry-content {
      background: $lightCream;
      padding: 45px 25px 25px 25px;
      p {
        color: $brown;
      }
      h2 {
        color: $brown;
        text-transform: uppercase;
        font-size: px2em(14px);
      }
      table {
        width: 100%;
        tbody {
          & > tr:first-child {
            td {
              background: $brown;
              color: $bgColor;
              font-weight: 600;
            }
          }
          td {
            border: 2px solid #b89c8a;
            text-align: center;
            padding: 5px 0;
            color: $brown;
            &:first-child {
              text-align: left;
              padding-left: 15px;
            }
          }
        }

      }
    }
    #reviews #comments{
      .commentlist {
        margin: 0;
        padding: 0;
      }
      .comment_container {
        img {
          display: none;
        }
        .comment-text {
          margin: 0;
          border-color: #b89c8a;
          .meta {
            color: #b89c8a;
          }
        }
      }
    }
    #review_form {
      h3 {
        color: $brown;
        text-transform: uppercase;
        font-size: px2em(14px);
        text-align: center;
      }
      p.form-submit {
        input#submit {
          background-color: $green;
          color: $bgColor;
        }
      }
      p.stars a:before {
        color: $brown;
      }
      #comment {
        min-height: 280px;
      }
    }
  }
  .flex-direction-nav {
    display: none !important;
  }
  #product-carousel {
    max-width: 65%;
    margin: 25px auto;
    ul {
      margin: 0;
      padding: 0;
      display: block;
      text-align: center;
    }
    li {
      max-width: 100px;
    }
    img {
      max-height: 95px;
      display: inline-block;
      margin: auto;
    }
    .flex-direction-nav {
      display: none !important;
    }
  }
  .product_meta {
    display: none;
  }
  .reset_variations {
    display: none !important;
  }
  #gout {
    > option:first-child {
      display: none;
    }
  }
  .onsale,
  .productinfo-show-discounts{
    display: none !important;
  }
  h2.related {
    display: block;
    color: $brown;
    margin: 0;
    text-transform: uppercase;
    padding: 25px 0;
    text-align: center;
    margin-top: 25px;
  }
  #related-slider {
    border: 2px solid $brown;
    padding: 25px 25px 50px 25px;
    width: 750px;
    margin: auto;
    position: relative;
    text-align: center;
    margin-top: 25px;
    overflow: visible;
    @include breakpoint(sm) {
      width: 100%;
    }

    .flex-direction-nav {
      display: block !important;
      li {
        position: absolute;
        top: 142px;
      }
      li.flex-nav-prev {
        left: -75px;
        a {
          @extend .icon-arrow-left;
          display: block;
          @include hide-text();
          @include transition(opacity 0.25s ease);
          &:hover {
            opacity: 0.75;
          }
        }
      }
      li.flex-nav-next {
        right: -75px;
        a {
          @extend .icon-arrow-right;
          display: block;
          @include hide-text();
          @include transition(opacity 0.25s ease);
          &:hover {
            opacity: 0.75;
          }
        }
      }
    }
    .related-slides {
      h3 {
        margin-top: 0;
        text-transform: uppercase;
        text-align: center;
      }
      li {
        list-style: none;
        @include transition(background 0.25s ease);
        background: $lightCream;
        cursor: pointer;
        margin: auto;
        display: table;
        a.global {
          display: table-cell;
          height: 100%;
          width: 30%;
          margin: 5%;
          vertical-align: middle;
        }
        img {
          display: block;
          height: auto;
          width: 100%;
          margin: auto;
        }
        .flex-caption {
          display: table-cell;
          width: 60%;
          min-height: 100px;
          padding: 5%;
          vertical-align: middle;
          .content {
            padding:15px 25px;
            background: #fdf2e9;
            border: 1px solid $green;
            padding-bottom: 50px;
            position: relative;
            .price {
              background: $green;
              color: $bgColor;
              font-size: px2em(12px);
              line-height: 12px;
              font-weight: 500;
              padding: 10px;
              text-align: center;
              @include border-radius(5px 5px);
              @include transition(background 0.25s ease);
              display: inline-block;
              margin: 0;
            }
          }
          p.decription {
            color: $brown;
            font-size: px2em(11px);
            font-weight: 500;
          }
          .read-more {
            position: absolute;
            background: #88b318;
            color: #fff;
            font-size: px2em(14px);
            right: -20px;
            bottom: 15px;
            padding: 10px 15px;
            @include transition(background 0.25s ease);
            padding-right: 35px;
            &:after {
              content: '';
              position: absolute;
              width: 0;
              height: 0;
              right: 0;
              top: 100%;
              border-style: solid;
              border-color:$brown transparent transparent $brown;
              border-width: 5px 10px;
            }
            &:hover {
              background: $brown;
            }
          }
        }
      }
    }
    .flex-control-nav {
      position: absolute;
      bottom: 15px;
      width: 100%;
      left: 0;
      text-align: center;
      li {
        display: inline-block;
        a {
          display: block;
          cursor: pointer;
          @include hide-text();
          background: $brown;
          width: 10px;
          height: 10px;
          @include border-radius(10px 10px);
          @include transition(background 0.25s ease);
          margin: 0 2px;
          &.flex-active {
            background: $lightBrown;
          }
        }
      }
    }
  }
}