.page-whey {
  .whey-banner {
    background: $bgBanner;
    border-top: 5px solid $brown;
    min-height: 540px;
    @include breakpoint(ml) {
      min-height: 536px;
    }
    h1 {
      text-transform: uppercase;
      font-size: px2em(18px);
      color: $brown;
      text-align: center;
      @include breakpoint(ml) {
        font-size: px2em(16px);
      }
      @include breakpoint(sm) {
        font-size: px2em(16px);
      }
    }
    .whey-banner-img {
      height: 250px;
      position: relative;
      cursor: pointer;
      img {
        position: absolute;
        bottom: 0;
        left: 50%;
      }
      &.cow {
        img {
          margin-left: -110px;
        }
      }
      &.milk {
        img {
          margin-left: -78px;
        }
      }
      &.filtration {
        img {
          margin-left: -110px;
        }
      }
      &.confection {
        img {
          margin-left: -50px;
        }
      }
    }
    .whey-banner-title {
      h2 {
        font-family: $Oleo;
        font-size: px2em(22px);
        color: $btnGreen;
        line-height: 28px;
        text-align: center;
        font-weight: 100;
        @include breakpoint(sm) {
          font-size: px2em(18px);
          line-height: 24px;
        }
        @include breakpoint(ml) {
          font-size: px2em(18px);
          line-height: 24px;
        }
      }
    }
    .whey-banner-desc {
      visibility: hidden;
      max-height: 0;
      @include transition(max-height 0.25s ease);
      p {
        color: $brown;
        text-align: center;
        font-size: px2em(11px);
      }
    }
    .col-1-4 {
      margin-top: 0px;
      @include transition(margin-top 0.25s ease);
      &:hover {
        margin-top: -50px;
        .whey-banner-desc {
          visibility: visible;
          max-height: 200px;
        }
      }
    }
  }
  img {
    display: block;
    margin: auto;
  }
  .whey-content {
    padding: 45px 0;
    color: $brown;
    @include breakpoint(sm) {
      max-width: 525px;
      margin: 25px auto;
    }
  }
  .avantage-col {
    @include breakpoint(sm) {
      margin: 25px auto;
      min-height: inherit;
    }
    h3 {
      position: relative;
      padding-left: 50px;
      font-size: px2em(20px);
      text-transform: uppercase;
      color: $brown;
      line-height: 26px;
      text-align: left;
      margin-bottom: 10px;
      font-weight: 500;
      @include breakpoint(sm) {
        font-size: px2em(14px);
        line-height: 24px;
      }
      @include breakpoint(ml) {
        font-size: px2em(14px);
        line-height: 24px;
      }
      img {
        position: absolute;
        left: 0;
        top: 5px;
      }
    }
    p {
      color: $brown;
      margin: 5px 0;
      font-size: px2em(12px);
    }
  }
}