/* Common style */
#home-category {
  > figure {
    margin-right: 5px;
  }
  figure {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    background: $brown;
    text-align: center;
    cursor: pointer;
    img {
      position: relative;
      display: block;
      max-width: 100%;
      opacity: 0.8;
    }
    figcaption {
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      &::before, &::after {
        pointer-events: none;
      }
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }
    }
    h3 {
      //word-spacing: -0.15em;
      font-weight: 300;
      font-size: px2rem(26px);
      line-height: 32px;
      span {
        font-weight: 800;
        font-size: px2rem(30px);
      }
      margin: 0;
    }
    p {
      margin: 0;
      letter-spacing: 1px;
      font-size: px2em(10px);
    }
  }

  /* Anchor will cover the whole item by default */
  /* For some effects it will show as a button */

  figure.effect-milo {
    background: $brown;
    img {
      max-width: none;
      width: -webkit-calc(100% + 60px);
      width: calc(100% + 60px);
      opacity: 1;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
      transform: translate3d(-30px, 0, 0) scale(1.12);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &:hover img {
      opacity: 0.5;
      -webkit-transform: translate3d(0, 0, 0) scale(1);
      transform: translate3d(0, 0, 0) scale(1);
    }
    h3 {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 1em 1.2em;
      color: $lightCream;
    }
    p {
      padding: 0 10px 0 0;
      width: 72%;
      border-right: 1px solid #fff;
      text-align: left;
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(-40px, 0, 0);
      transform: translate3d(-40px, 0, 0);
    }
    &:hover p {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}
