.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  { outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flexslider a img { outline: none; border: none; }

.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }

.flexslider {
  position: relative;
  zoom: 1;
  padding: 0;
  border-top: 10px solid $brown;
  .slide {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    .container {
      @extend .grid;
      position: absolute;
      top: 0;
      left: 0;
      overflow: visible;
      padding: 0;
      height: 100%;
      right: 0;
    }
    .flex-caption {
      position: absolute;
      text-transform: uppercase;
      @include breakpoint(sm) {
        display: none;
      }

      span {
        display: block;
      }
      .green {
        color: $green;
      }
      .cream {
        color: $cream;
      }
      .lightcream {
        color: $lightCream;
      }
      .brown {
        color: $brown;
      }
      .fs-S {
        font-size: px2em(20px);
      }
      .fs-M {
        font-size: px2em(22px);
      }
      .fs-L {
        font-size: px2em(24px);
      }
      .fs-LX {
        font-size: px2em(26px);
      }
      .fs-XL {
        font-size: px2em(28px);
      }
      .fs-XXL {
        font-size: px2em(30px);
      }
      .white {
        color: #fff;
      }
      .fw-700 {
        font-weight: 700;
      }
      .fw-600 {
        font-weight: 600;
      }
      .fw-500 {
        font-weight: 500;
      }
      .fw-400 {
        font-weight: 400;
      }
      .fw-100 {
        font-weight: 100;
      }
    }
    &.slide-27 {
      .flex-caption {
        top: 15%;
        right: 18%;
        .lightcream {
          position: relative;
          top: -30px;
        }
        .fw-100 {
          position: relative;
          top: -15px;
        }

      }
    }
    &.slide-24 {
      .flex-caption {
        top: 23%;
        right: 9%;
        @include breakpoint(ml) {
          top: 18%;
          right: 12%;
        }
        .white {
          position: relative;
          top: -7px;
          left: -1px;
        }
      }
    }

  }
  .flex-direction-nav {
    display: none;
  }
  .flex-control-nav {
    position: absolute;
    bottom: 15px;
    width: 100%;
    left: 0;
    text-align: center;
    li {
      display: inline-block;
      a {
        display: block;
        cursor: pointer;
        @include hide-text();
        background: #fff;
        width: 10px;
        height: 10px;
        @include border-radius(10px 10px);
        @include transition(background 0.25s ease);
        margin: 0 2px;
        &.flex-active {
          background: $green;
        }
      }
    }
  }
}


.flexslider .slides { zoom: 1; }
