.woocommerce,.page-content {
  h1,h2,h3,h4 {
    text-transform: uppercase;
  }
  .woocommerce-message {
    border-top-color: $brown;
    background-color: $bgColor;
    a.button {
      background-color: $green;
      color: $bgColor;
      @include transition(background-color 0.25s ease);

      &:hover {
        background-color: $brown;
      }
    }
  }
  .wc-backward {
    display: none !important;
  }
}