//Fonts
$base-font-size : 13px;

@font-face {
  font-family: 'oleo_scriptbold';
  src: url('../fonts/oleoscript-bold-webfont.eot');
  src: url('../fonts/oleoscript-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/oleoscript-bold-webfont.woff2') format('woff2'),
  url('../fonts/oleoscript-bold-webfont.woff') format('woff'),
  url('../fonts/oleoscript-bold-webfont.ttf') format('truetype'),
  url('../fonts/oleoscript-bold-webfont.svg#oleo_scriptbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,700italic,900,900italic,400italic);

$Roboto : 'Roboto', sans-serif;
$Oleo : 'oleo_scriptbold';


// Colors
$bgColor : #fdf2e9;
$bgBanner : #ecdcc8;
$footerBrown : #624729;
$brown : #61482e;
$lightBrown : #d7bc82;
$green : #88b318;
$bgCream : #ecdcc9;
$cream : #dca788;
$lightCream : #f0e0c8;
$vLightCream : #ebe0d0;
$btnGreen : #91b345;
$greyGreen: #ebe0d0